# NSQ lookup address
LookupdAddr = 'nsqlookupd:4161'

# NSQ Producer
ProducerAddr = 'localhost:4150'
ProducerRestAddr = 'localhost:4151'

# Cluster name
ClusterId = 'default-name'

# Cluster VIP
Vip = '127.0.0.1'

# hapadm directory
HapHome = './'

# Sidekick node status
# For now, node status is statically defined.
# It should be autodetected, then this property would be deprecated
Status = 'slave'

# haproxy version
[Hap."1.4.22"]
Path = '/export/product/haproxy/product/1.4.22'